<div class="about-me">
  <div class="about-me__icon">
    <img src="{{ 'assets/img/samurai-penguin.jpg' | relative_url }}" alt="プロフィールアイコン" loading="lazy">
  </div>
  <h1>About Me</h1>
  <p>
    プログラマー。<br>
    サーバーサイド、DevOps周りが守備範囲。
  </p>
</div>

<div class="writing">
  <h1>Blog</h1>
  <ul class="writing-list">
    <li class="writing-item">
      <a class="writing-link" href="https://mrasu.hatenablog.jp/" target="_blank" rel="noopener noreferrer">発明のための再発明</a>
      <span class="writing-url">
        <a href="https://mrasu.hatenablog.jp/" target="_blank" rel="noopener noreferrer">https://mrasu.hatenablog.jp/</a>
      </span>
      <p class="writing-note">技術的に細かいことを書いているブログ</p>
    </li>
    <li class="writing-item">
      <a class="writing-link" href="https://zenn.dev/mrasu" target="_blank" rel="noopener noreferrer">Zenn</a>
      <span class="writing-url">
        <a href="https://zenn.dev/mrasu" target="_blank" rel="noopener noreferrer">https://zenn.dev/mrasu</a>
      </span>
      <p class="writing-note">雑多な技術の備忘録</p>
    </li>
  </ul>
</div>

<div class="experience">
  <h1>Experience</h1>
  <ul class="experience-list">
    <li class="experience-item">
      <div class="experience-header">
        <time class="experience-year" datetime="2024">2024年~現在</time>
        <div class="experience-meta">
          <span class="experience-company">株式会社はてな</span>
          <span class="experience-title">ソフトウェアエンジニア</span>
        </div>
      </div>
      <div class="experience-body">
        <p>Vaxilaを事業譲渡し、監視サービス「Mackerel」の開発に従事</p>
      </div>
    </li>
    <li class="experience-item">
      <div class="experience-header">
        <time class="experience-year" datetime="2010">2023年~2024年</time>
        <div class="experience-meta">
          <span class="experience-company">株式会社Vaxila Labs</span>
          <span class="experience-title">代表取締役社長</span>
        </div>
      </div>
      <div class="experience-body">
        <p>法人化し、監視サービス「Vaxila」を開発</p>
      </div>
    </li>
    <li class="experience-item">
      <div class="experience-header">
        <time class="experience-year" datetime="2020">2021年~2023年</time>
        <div class="experience-meta">
          <span class="experience-company">フリーランス</span>
          <span class="experience-title">ソフトウェアエンジニア</span>
        </div>
      </div>
      <div class="experience-body">
        <p>独立し、複数の企業にて開発</p>
      </div>
    </li>
    <li class="experience-item">
      <div class="experience-header">
        <time class="experience-year" datetime="2020">2019年~2021年</time>
        <div class="experience-meta">
          <span class="experience-company">トレジャーデータ株式会社</span>
          <span class="experience-title">ソフトウェアエンジニア</span>
        </div>
      </div>
      <div class="experience-body">
        <p>CDP(カスタマーデータプラットフォーム)、「Treasure Data」の開発に従事</p>
      </div>
    </li>
    <li class="experience-item">
      <div class="experience-header">
        <time class="experience-year" datetime="2020">2016年~2019年</time>
        <div class="experience-meta">
          <span class="experience-company">Wovn Technologies株式会社</span>
          <span class="experience-title">ソフトウェアエンジニア</span>
        </div>
      </div>
      <div class="experience-body">
        <p>多言語化ソリューション「WOVN.io」の開発に従事</p>
      </div>
    </li>
    <li class="experience-item">
      <div class="experience-header">
        <time class="experience-year" datetime="2020">2013年~2015年</time>
        <div class="experience-meta">
          <span class="experience-company">株式会社オロ</span>
          <span class="experience-title">ソフトウェアエンジニア</span>
        </div>
      </div>
      <div class="experience-body">
        <p>クラウドERP「ZAC」の開発に従事</p>
      </div>
    </li>
  </ul>
</div>
