<div id="particles-js">
  <div class="header">
      <h1>
        <span class="site-title">Suginaka Hiroaki</span>
        <span class="site-description">Software Engineer</span>
      </h1>
      <div class="header-icons">
        <a aria-label="Send email" href="mailto:m.rasu.hitsuji@gmail.com"><i class="icon fa-solid fa-envelope"></i></a>
        <a aria-label="My X" target="_blank" href="https://x.com/m_rasu"><i class="icon fa-brands fa-x-twitter"></i></a>
        <a aria-label="My LinkedIn" target="_blank" href="https://www.linkedin.com/in/hiroaki-suginaka-3b0364112"><i class="icon fa-brands fa-linkedin" aria-hidden="true"></i></a>
        <a aria-label="My Github" target="_blank" href="https://github.com/mrasu"><i class="icon fa-brands fa-github-alt" aria-hidden="true"></i></a>
      </div>
  </div>
  <a class="down" href="#about" data-scroll><i class="icon fa-solid fa-chevron-down" aria-hidden="true"></i></a>
</div>
